@media (max-width:1000px){
    header{
        width:100%;
    }
    .main{
        width:115%;
        
    }
    .flx{
        margin-left:10px;
    }
    .main2 h5{
        font-size:35px;
        margin-left:25px
    }
    .para{
        font-size:11px;
        margin:-22px 0 0 30px;
    }
    .btn1{
        width:auto;
        font-size:10px;
    }
    .btn2{
        font-size:10px;
        width:auto;
    }
    .btn3{
        font-size:10px;
    }
    .direct{
        font-size:13px;
    }
    .img4{
        width:105%;
        height:90%;
    }
    .main1{
        width:1100px;
        margin-left: -110px;
    }
    .me{
        top:40%;
        left:auto;
    }
    .pics{
        width:43%;
    }
    .pics:hover{
        width:45%;
        height:130px;
    }
    .lang{
        width:43%
    }
    .lang:hover{
        width:45%;
        height:130px;
    }

    .fav{
        margin:100px 0 0 130px;
    }
    .avenger{
        width:92%;
    }
    .avenger:hover{
        width:94%;
        height:520px;
    }
    .mov h4,h5{
        width:350%;
    }
    .terms{
        margin-left:16%;
        
    }
    .flux{
        margin-left:12px;
    }
    .flux li{
        width:auto;
    }
    footer{
        width:114%;
    }
    .mir,.dir{
        font-size: 12px;
    }
    .menu{
        display: none;
    }
    .bar{
        width:75%;
        margin-left:130px;
    }
}


@media (max-width:670px){
    header{
        width: 100%;
        float:unset;
    }
    .main{
        width:310%;
    }
    .dir,.mir{
        font-size: smaller;
    }
    .main1{
       width:100%;
       margin-left:10px
    }
    .para{
        width:400px;

    }
    .img4{
       width:680px;
       height:85%;
    }
    .icon{
        margin-left:100%;
    }
    .movies{
        width:550px;
        display:flex;

    }
    .pics{
        margin-left:100px;
        width:100%;
        height:380px;
    }
    .movies{
        width:580%;
    }

    .pics:hover{
        width:106%;
        height:400px;
    }
    .pics:hover .more{
        height:30%;
        width:95%;
    }
    .pics:hover .more3{
        margin-left:auto;
        margin-right:20px;
    }
    .lang{
        width:90%;
        margin-left:100px;
    }
    .lang:hover{
        width:92%;
        height:145px;
    }
    footer{
        width:1255px;
        margin-top:120px;
       
    }
    .exp{
        margin-left:auto;
        margin-right:50px;
        font-size:33px
    }
    .character{
        margin-left:50px;
        font-size:33px;
    }
    .avenger{
        margin-left:50px;
    }
    .q{
        margin-left:50px;
        width:95%;
    }
    .mov h4,h5{
        font-size:large;
    }
    .con{
        margin-left:auto;
        margin-right:40px;
    }
    .flux{
        margin-left:120px;
      width:700px;
    }
    .fan{
        width:200%;
    }
    .bar{
        width:412%;
        margin-left:0;
    }
    
    .fb{
        margin-right:10px;
    }
    .terms{
        margin-left:25%;
    }
    
    .menu{
        display: block;
        margin-right: 50px;
    }
    .list{
        display: none;
        margin-top:auto;
        background-color:#203345;
        width:100%;
        height:285px;
    }
    .list ul{
        display: block;
        float:none;
    }
    .list li{
        margin-bottom:12px;
        font-size:35px;
        background-color:#2037;
    }
    .more h3,h4,h5{
        font-size:36px;
    }
    
    
}
